<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Home</title>
</head>

<body>

<section layout:fragment="content">

    <div class="hero">

        <h1>Shorten URLs Effortlessly</h1>

        <p>
            Create short, clean, and shareable links in seconds.
        </p>

        <!-- SUCCESS MESSAGE -->
        <p class="success"
           th:if="${successmessage}"
           th:text="${successmessage}">
        </p>

        <form class="url-form"
              method="post"
              th:action="@{/shorten}"
              th:object="${urlRequestDTO}">

            <input type="text"
                   th:field="*{originalUrl}"
                   placeholder="Paste your long URL here...">

            <span class="error"
                  th:if="${#fields.hasErrors('originalUrl')}"
                  th:errors="*{originalUrl}">
        </span>

            <button type="submit">
                Shorten URL
            </button>

        </form>

    </div>
</section>

</body>
</html>