<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Home</title>
</head>

<body>

<section layout:fragment="content">

    <div class="hero">

        <h1>Shorten URLs Effortlessly</h1>

        <p>
            Create short, clean, and shareable links in seconds.
        </p>

        <!-- SUCCESS MESSAGE -->
        <div th:if="${url}" class="success">

            <span th:text="${successmessage}"></span>

            <a id="shortUrlLink"
               th:href="${url.fullShortUrl}"
               th:text="${url.fullShortUrl}"
               target="_blank">
            </a>

            <button type="button"
                    onclick="copyShortUrl()">
                Copy
            </button>

        </div>


        <script>
            function copyShortUrl() {
                const url = document.getElementById('shortUrlLink').href;

                navigator.clipboard.writeText(url)
                    .then(() => {
                        console.log('Copied');
                    });
            }
        </script>

        <form class="url-form"
              method="post"
              th:action="@{/shorten}"
              th:object="${urlRequestDTO}">

            <input type="url"
                   th:field="*{originalUrl}"
                   placeholder="Paste your long URL here...">


            <div th:if="${errorMessage}" class="errorMessage">
                <span th:text="${errorMessage}"></span>
            </div>
            <div th:if="${#fields.hasErrors('originalUrl')}" class="errorMessage">

                <span th:errors="*{originalUrl}"></span>

            </div>


            <button type="submit">
                Shorten URL
            </button>

        </form>

    </div>
</section>

</body>
</html>